<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.uma_the390.alfredapp.scrapbox</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>182B9D13-553D-4991-A5DD-897CC6B3EDE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC5B8C8C-B655-42A9-BCBF-7825591AA4F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C82525E-CFEA-4265-9B81-57497ED0C05C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7827B635-AB1F-47CA-B8BC-487F30B9C8D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>659D317E-503A-446B-9349-0C80D6190156</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC5B8C8C-B655-42A9-BCBF-7825591AA4F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADC38BD0-5F61-4A40-B944-812634B645BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78F9E02C-F005-4EDE-AC73-E776A530779D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC5B8C8C-B655-42A9-BCBF-7825591AA4F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA72EA9F-A206-4695-9CF8-5B5B05FE1D59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>uma_the390</string>
	<key>description</key>
	<string>Convenient actions for scrapbox</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Scrapbox</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sb new</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>sb new</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://scrapbox.io/{var:project_id}/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>const chrome = Application("Google Chrome");
chrome.includeStandardAdditions = true;

const currentTab = chrome.windows[0].activeTab;
const title = currentTab.title();
const url = currentTab.url();

chrome.setTheClipboardTo(`[${title} ${url}]`);


const notifier = Application.currentApplication();
notifier.includeStandardAdditions = true

notifier.displayNotification(title, {
    withTitle: "コピーしました",
})</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7827B635-AB1F-47CA-B8BC-487F30B9C8D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sb url</string>
				<key>subtext</key>
				<string>generate url for scrapbox</string>
				<key>text</key>
				<string>sb url</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1C82525E-CFEA-4265-9B81-57497ED0C05C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>// settings
const browserName = "Google Chrome"
const browser = Application(browserName)

ObjC.import('stdlib')
const scrapboxProject = $.getenv('project_id')
const scrapboxBookmarkTag = "#" + $.getenv('bookmark_tag')

// get information for generating bookmark
const currentWindow = browser.windows[0]
const currentTab = currentWindow.activeTab
const title = currentTab.title()
const url = currentTab.url()
const scrapboxLink = `[${title} ${url}]`

// generate scrapbox bookmark
const newTab = new browser.Tab()
const lines = [scrapboxBookmarkTag, "", scrapboxLink]
const body = encodeURIComponent(lines.join('\n'))

newTab.url = `https://scrapbox.io/${scrapboxProject}/${title}?body=${body}`
currentWindow.tabs.push(newTab);</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>78F9E02C-F005-4EDE-AC73-E776A530779D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sb bookmark</string>
				<key>subtext</key>
				<string>create bookmark page</string>
				<key>text</key>
				<string>sb bookmark</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ADC38BD0-5F61-4A40-B944-812634B645BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:endpoint}/{var:project_id}/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DA72EA9F-A206-4695-9CF8-5B5B05FE1D59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>sb list</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching ...</string>
				<key>script</key>
				<string># https://github.com/tuki0918/alfred-scrapbox-listview
# This script quoted the source code above links with MIT License.


#
# Fetching Scrapbox Item List
#
# icon: https://scrapbox.io/icons/Scrapbox
# help: https://www.alfredapp.com/help/workflows/

# depended on "jq" command
PATH=$PATH:$JQPATH
endpoint="https://${endpoint}"

# scrapbox get item list api
# https://scrapbox.io/help-jp/API
items=`curl -H "Cookie: connect.sid=${token}" \
    -s "${endpoint}/api/pages/${project_id}" \
    | jq -c '[ .pages[] | \
        { \
            "uid":.id \
            ,"title":.title \
            ,"arg": .title
        } \
    ]'`

# alfred list format
# https://www.alfredapp.com/help/workflows/inputs/script-filter/json/
cat &lt;&lt; EOB
{"items":
    ${items}
}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>test.sh</string>
				<key>subtext</key>
				<string>list 100 pages</string>
				<key>title</key>
				<string>sb list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>182B9D13-553D-4991-A5DD-897CC6B3EDE2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>CC5B8C8C-B655-42A9-BCBF-7825591AA4F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sb search</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching ...</string>
				<key>script</key>
				<string># https://github.com/tuki0918/alfred-scrapbox-listview
# This script quoted the source code above links with MIT License and changed.


#
# Fetching Scrapbox Item List
#
# icon: https://scrapbox.io/icons/Scrapbox
# help: https://www.alfredapp.com/help/workflows/

# depended on "jq" command
PATH=$PATH:$JQPATH
endpoint="https://${endpoint}"

# scrapbox get item list api
# https://scrapbox.io/help-jp/API

function urlencode {
  echo "$1" | jq -R -r @uri
}

q=`urlencode {query}`


items=`curl -H "Cookie: connect.sid=${token}" \
    -s "${endpoint}/api/pages/scrapbox-rk/search/query?q=${q}" \
    | jq -c '[ .pages[] | \
        { \
            "uid":.id \
            ,"title":.title \
            ,"arg": .title
        } \
    ]'`

# alfred list format
# https://www.alfredapp.com/help/workflows/inputs/script-filter/json/
cat &lt;&lt; EOB
{"items":
    ${items}
}
EOB
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>search pages</string>
				<key>title</key>
				<string>sb search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>659D317E-503A-446B-9349-0C80D6190156</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>182B9D13-553D-4991-A5DD-897CC6B3EDE2</key>
		<dict>
			<key>note</key>
			<string>Alfred 3 now supports JSON as the Script Filter output. This is the recommended output.</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>1C82525E-CFEA-4265-9B81-57497ED0C05C</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>659D317E-503A-446B-9349-0C80D6190156</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>7827B635-AB1F-47CA-B8BC-487F30B9C8D0</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>78F9E02C-F005-4EDE-AC73-E776A530779D</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>ADC38BD0-5F61-4A40-B944-812634B645BE</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>CC5B8C8C-B655-42A9-BCBF-7825591AA4F6</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>DA72EA9F-A206-4695-9CF8-5B5B05FE1D59</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>JQPATH</key>
		<string>/usr/local/bin</string>
		<key>bookmark_tag</key>
		<string>bookmark</string>
		<key>endpoint</key>
		<string>scrapbox.io</string>
		<key>project_id</key>
		<string>scrapbox-rk</string>
		<key>token</key>
		<string>s%3A-EP6NnfWOWVg77_0-6AoBEW2MQcEm_s1.AoDQJqlRf6TKWIRit5q8seYFAxav54ilr4B83EloO5s</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>project_id</string>
		<string>token</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/uma-the390/scrapbox-alfred-workflow</string>
</dict>
</plist>
